.LoginComponents-title
{
font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;

position: absolute;
top: 30px;

color: #000000;
}

.LoginComponents-text-font1{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
display: flex;
align-items: center;

color: #010101;
}