$main-color: #00A1F2;
$sub-color: #5DBAFF;
$background-color : #E5F4FF;
$point-color : #4F616D;
$point-color2 : #B6DAF4;
$point-color3: #D10C0C;
$page-padding: 100px;

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.Main-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh; /* 이전에는 100vh였으나 Footer가 차지할 공간을 확보하기 위해 95vh로 수정 */
 // margin-top: 5rem;
  overflow: hidden;
}

.Footer{
  display: flex;
  position: relative;
  height: 5vh;
  //background-color: #5DBAFF;
  width: 100%;
  justify-content: flex-end; /* Footer를 아래로 정렬하기 위해 flex-end로 설정 */
}